.DS_Store
uploads/*
data/*

<script>
        function changeDisplay(to){
                var loginForm = document.getElementById("loginForm");
                var registerForm = document.getElementById("registerForm");

                if(to == 'register') {
                        loginForm.hidden = true;
                        registerForm.hidden = false;
                } else {
                        loginForm.hidden = false;
                        registerForm.hidden = true;
                }
        }
</script>
